{%- from "macros/macros.html" import title, footer -%}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    {% block script -%}
        <script src="https://cdn.plot.ly/plotly-2.8.3.min.js"></script>
    {%- endblock script %}
    {% block style -%}
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
        <link rel="stylesheet" href="src/templates/static/stylesheet.css">
    {%- endblock style %}
</head>
<body class="container" onload="onPageLoad()">
    {% block body -%}
    <div class="col">
        <header class="container-fluid mb-4 border-bottom border-secondary">
        {% block title -%}
            {{title(name, report)}}
        {%- endblock title %}
        </header>
        <main class="container">
        {% block content -%}
        {%- endblock content %}
        </main>
        <footer class="container-fluid mt-1 border-top border-secondary">
        {% block footer -%}
            {{footer(report)}}
        {%- endblock footer %}
        </footer>
    </div>
    {%- endblock body %}
    <script type="text/javascript">
        {% block javascript %}
        {% endblock javascript %}
    </script>
</body>
</html>
