{% from "js/plotly_chart.js" import plotly_chart %}
{% extends "base/three_pane_left_two_right.html" %}

{% block bottom %}
    <div id="graphDiv" style="min-width:800px"></div>
{% endblock %}

{% block top %}
    <aside>
        <h3>Data from 2011 - 2017</h3>
        {% for row in data.text %}
            <p>{{ row.comments }}</p>
        {% endfor %}
    </aside>
{% endblock %}

{% block left %}
    {% for row in data.table|sort(attribute="crash_year") %}
    <table class="table table-striped">
        <thead>
            <tr scope="span">
                <th>Yearly Data</th>
            </tr>
            <tr>
                <th scope="col" class="col-2 text-left">Crash Year</th>
                <th scope="col" class="col text-right">Fatal Crashes</th>
                <th scope="col" class="col text-right">Bike Crashes</th>
                <th scope="col" class="col text-right">Injuries</th>
           </tr>
        </thead>
        <tbody>
              <tr>
                <td class="text-left">{{row.crash_year}}</td>
                <td class="text-right">{{row.fatal}}</td>
                <td class="text-right">{{row.bike_crash}}</td>
                <td class="text-right">{{ "{:,.0f}".format(row.injury)}}</td>
              </tr>
        </tbody>
    </table>
    {% endfor %}
{% endblock%}

{% block javascript %}
    {{ plotly_chart(data.table) }}
{% endblock javascript %}
