{% from "js/plotly_chart.js" import plotly_chart %}
{% extends "base/three_pane_left_two_right.html" %}

{% block bottom %}
    <div id="graphDiv" style="min-width:800px"></div>
{% endblock %}

{% block top %}
    <aside>
        <h3>Data from 2011 - 2017</h3>
        <p>{{data['text']}}</p>
        <p>This is data from Open Data PHL, for car and bike accidents
        between 2011 and 2017. I could include some other info as well, but I'm
        just writing to take up space at the moment.</p>
    </aside>
{% endblock %}

{% block left %}
    <table class="table table-striped">
        <thead>
            <tr scope="span">
                <th>Yearly Data</th>
            </tr>
            <tr>
                <th scope="col" class="col-2 text-left">Crash Year</th>
                <th scope="col" class="col text-right">Fatal Crashes</th>
                <th scope="col" class="col text-right">Bike Crashes</th>
                <th scope="col" class="col text-right">Injuries</th>
           </tr>
        </thead>
        <tbody>
            {% for row in data['sql']|sort(attribute="crash_year") %}
              <tr>
                <td class="text-left">{{row.crash_year}}</td>
                <td class="text-right">{{row.fatal}}</td>
                <td class="text-right">{{row.bike_crash}}</td>
                <td class="text-right">{{ "{:,.0f}".format(row.injury)}}</td>
              </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock%}

{% block javascript %}
    {{ plotly_chart(data['sql']) }}
{% endblock javascript %}
